{{ form_start(formGenus) }}
                    {{ form_row(formGenus.name) }}
                    {{ form_row(formGenus.subFamily) }}
                    {{ form_row(formGenus.speciesCount) }}
                    {{ form_row(formGenus.funFact) }}
                    {{ form_row(formGenus.isPublished) }}
                    {{ form_row(formGenus.firstDiscoveredAt) }}
<button type="submit" class="btn btn-primary" formnovalidate>Save</button>
{{ form_end(formGenus) }}