{% extends 'admin/genus/formLayout.html.twig' %}

{% form_theme formGenus 'bootstrap_3_layout.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Update Genus {{ genus.name }}</h1>
                {{ include('admin/genus/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
