{% extends 'base.html.twig'%}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% if error %}
                    <div class="aler alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {{ form_start(form) }}
                {{ form_row(form._username) }}
                {{ form_row(form._password) }}
                <button class="btn btn-success">Login <span class="fa fa-lock"></span></button>
                &nbsp;
                <a href="{{ path('user_register') }}">Register</a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}